<form method="post" action="/todos/<%= todo.id %>?_method=PUT">
  <div class="mb-3">
    <label for="titleInput" class="form-label">タイトル <span class="text-muted">（入力必須）</span></label>
    <input type="text" name="title" class="form-control" id="titleInput" placeholder="タイトル" required autofocus value="<%= todo.title %>">
  </div>
  <div class="mb-3">
    <label for="contentsInput" class="form-label">内容説明</label>
    <textarea name="description" class="form-control" id="contentsInput" placeholder="内容" rows="3"><%= todo.description %></textarea>
  </div>
  <div class="mb-3">
    <label for="deadlineInput" class="form-label">期限 <span class="text-muted">（入力必須）</span></label>
    <input type="date" name="deadline" class="form-control" id="deadlineInput" required value="<%= todo.deadline %>"></textarea>
  </div>
  <div class="mb-3">
    <label for="titleInput" class="form-label">状態: <%= todo.completed ? "完了" : "未完了" %></label>
  </div>
  <div class="mb-3">
    <label for="titleInput" class="form-label">ID: <%= todo.id %></label>
  </div>
  <hr>
  <button class="btn btn-lg btn-warning" type="submit">更新する</button>
</form>
