<div class="text-center">
  <h2>Todo詳細</h2>
</div>
<% const completedParams = todo.completed ? ['完了', 'DELETE', '未完了にする'] : ['未完了', 'PUT', '完了にする'] %>
<div class="mb-3">
  <label for="titleInput" class="form-label">タイトル</label>
  <input type="text" class="form-control" id="titleInput" disabled value="<%= todo.title %>">
</div>
<div class="mb-3">
  <label for="deadlineInput" class="form-label">期限</label>
  <input type="text" class="form-control" id="deadlineInput" disabled value="<%= todo.deadline %>">
</div>
<div class="mb-3">
  <label for="descriptionInput" class="form-label">内容説明</label>
  <input type="text" class="form-control" id="descriptionInput" disabled value="<%= todo.description %>">
</div>
<div class="mb-3">
  <label for="titleInput" class="form-label">状態: <%= completedParams[0] %></label>
</div>
<div class="mb-3">
  <label for="titleInput" class="form-label">ID: <%= todo.id %></label>
</div>
<hr>
<button class="btn btn-outline-primary" onclick="location.href='/todos/<%= todo.id %>/completed?_method=<%= completedParams[1] %>'"><%= completedParams[2] %></button> 
<button class="btn btn-outline-danger" onclick="location.href='/todos/<%= todo.id %>?_method=DELETE'">削除</button>
<button class="btn btn-outline-warning" onclick="location.href='/todos/<%= todo.id %>/edit'">編集</button>
